$colorHeaderRed: rgb(224, 22, 70);
$colorHeaderPurple: rgb(72, 21, 110);
$colorHeaderWhite: rgb(255, 255, 255);

$colorButtonRed: rgb(178, 21, 99);
$colorButtonPurple: rgb(221, 26, 122);

$colorStar1: rgb(224, 22, 70);
$colorStar2: rgb(178, 21, 99);
$colorStar3: rgb(233, 63, 40);

$colorTextCard: $colorHeaderPurple;
$colorTextBall: $colorHeaderPurple;
$colorTextBallBorder: rgb(171, 148, 188);
$colorTextBallNomer: rgba(72, 21, 110, 0.2);
$colorTextReview: $colorHeaderPurple;
$colorTextLinkWhite: rgb(255, 255, 255);

$colorLinkWhite: $colorTextLinkWhite;

$colorFormLabelText: $colorHeaderPurple;
$colorFormLabelTextRadio: $colorHeaderPurple;


$colorFormLabelBorder: rgb(255, 255, 255);
$colorFormLabelBorder2: $colorTextBallNomer;
$colorFormLabelBorderShadow: rgba(0, 0, 0, 0.16);

