.container {
    width: 1170px;
    margin: 0 auto;
    position: relative;
    &-portret {
        height: 600px;
        width: 600px;
        position: relative;
    }
    &-full-height {
        height: 800px;
        &-item {
            margin-bottom: 50px;
            &:last-child {
                margin-bottom: 0px;
            }
        }
    }
    &-minHeight {
      padding-top: 40px;
      margin-top: 150px;
      min-height: 400px;
      &-item {
          margin-bottom: 40px;
          position: relative;
      }
      &-small {
        margin-top: 0px;
        padding-top: 40px;
        min-height: 100px;
      }
    }

    &-left {
        align-items: flex-start;
    }

    &-half {
        width: 50%;
    }
    &-center {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &-right {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-end;
        text-align: right;
    }
    &-grid {
        padding-top: 170px;
        &-center {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            &-between {
                justify-content: space-between;
            }
        }
    }
    &-columns {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      &-item {
        min-height: 10px;
        flex-shrink: 0;
        &-child {
          margin-bottom: 25px;
          &-row {
              display: flex;
              flex-wrap: wrap;
              &-line {
                flex-shrink: 0;
                width: 33.3%;
                margin-bottom: 25px;
              }
          }
        }
        &-20 {
            width: 20%;
        }
        &-25 {
            width: 25%;
        }
        &-50 {
            width: 50%;
        }
        &-75 {
            width: 75%;
        }
      }
    }
}
