.link {
  font-size: 30px;
  line-height: 1.2;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &-white {
    color: $colorLinkWhite;
  }
  &-smaller {
    font-size: 20px;
  }
}
